@use './mixins';
@use './partials/_light-theme';
@use './partials/_colors';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: unset;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: colors.$base-background-color;
  color: colors.$base-text-color;
  font-weight: 100;
  overflow-x: hidden;
  @include mixins.transition-mixin(400ms, ease, background-color, color);
}

a {
  color: unset;
  text-decoration: none;
}

.mouse-effect {
  position: absolute;
  pointer-events: none;
  opacity: 1;
  transform: translate(-50%, -50%);
  animation: fadeOut 1.2s forwards;
}

@keyframes fadeOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
