@mixin transition-mixin($duration, $timing, $properties...) {
  $list: ();
  @each $prop in $properties {
    $list: append($list, #{$prop} #{$duration} #{$timing}, comma);
  }
  transition: $list;
}
